.all{
    margin: 20px ;
    background-color: rgb(206, 118, 118) ;
    border-radius: 5px;
}

h1{
    color: rgb(236, 233, 47);
    margin: 10px;

}
/*
section{
    display: flex;
    flex-direction: column;
    f
    gap: 10px;
}
*/
/*
*{
    margin: 10px;
}
*/
body{
    background-color: black;
}
.containers{
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
}

.ref{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.img-container{
    display: flex;
    justify-content: flex-end;
    margin: 50px;
    padding: 30px;
}

footer{
    background-color: aqua;
    padding-top: 2px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 2px;
    text-align: center;
}




  
.flex-container{
    display: inline-flex;
    flex-wrap: wrap;
    flex: 2;
    gap: 10px;
    
}

.title-name{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(238, 241, 13);
    margin: 10px;
    padding: 10px;
    display: block;
    font-size: x-large;
}

.address{
    border: 1px solid rgb(44, 49, 49);
    border-radius: 10%;
    background-color: bisque;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    flex-basis: 100px;
}